# k3d settings
export K3D_CLUSTER_ID="4"
export K3D_CLUSTER="nuvola-${K3D_CLUSTER_ID}"
export K3D_REGISTRY_PORT=5000

# Kubernetes / k3s version
#  k3d version list k3s | head
export K3S_VERSION="k3s:v1.31.2-k3s1"

# Vault
export VAULT_ADDR='http://127.0.0.1:8200/'
export VAULT_TEMPORARY_TOKEN="op://geenehnk4nrnbhzs3vap4xrhue/5cwbkffglxytu7qixruvxgchwa/i62pkszxul24avig7zndujti6i"
export SECRET_VAULT_TEMPORARY_TOKEN="k8s-secrets/secret-VaultToken.yaml"

# Gitea
export GITEA_HOSTNAME=git.localtest.me
export GIT_HOST="${GITEA_HOSTNAME}"

# ArgoCD
export ARGOCD_ADMIN_PASSWORD="op://Nuvola/ArgoCD UI/password"
